<h1>Some suggestions while working out!!!</h1>

<ol>
    <li>1. The most important thing before you work out is streching <a href="https://www.self.com/gallery/essential-stretches-slideshow">Click here to check out some streches</a></li>
    
    <li>2. It's always good to listen to music for motivation <a href="https://youtu.be/ly6j02YR8rA">Click here to listen to some work out music</a></li>
 
</ol>

<br>

<a href="/">Click here to go to homepage</a>