<h1>Create New Exercise</h1>



<% if @errors %>

  <% @errors.each do |error| %>

    <p style="color: red;"><%= error %></p>

  <% end %>

<% end %>



<br></br>



<form action="/expenses" method="POST">

  <label for="vendor">Vendor: </label>

  <input type="text" name="vendor" id="vendor"/>



  <br></br>



  <label for="date">Date: </label>

  <input type="date" name="date" id="date"/>

