<h1>Create New Work Out</h1>



<% if @errors %>

  <% @errors.each do |error| %>

    <p style="color: red;"><%= error %></p>

  <% end %>

<% end %>



<br></br>



<form action="/workouts" method="POST">

  <label for="vworkout">Workout: </label>

  <input type="text" name="workout" id="workout"/>



  <br></br>



  <label for="date">Date: </label>

  <input type="date" name="date" id="date"/>

