<div>

    <div>

    <h2>Workout Tracker</h2>



    <div>

      <h4>Welcome to the Workout Tracker!</h4>



      <p>If you're a new user, please <b><a href="/register">register</a></b> to start using the app.</p>

      <p>If you're a returning user, please <b><a href="/login">log in</a></b> to view your information.</p>


    </div>

  </div>

</div>